<%- include("../partials/header") %>

<div class="container text-center formWidth">
    <h2 class="my-4">Edit Comment</h2>
    
    <div class="form-group my-3">
        <form action="/campgrounds/<%= campgroundID %>/comments/<%= comment._id %>?_method=PUT" method="post">
            <input type="text" name="comment[text]" value="<%= comment.text %>" class="d-block w-100 form-control my-3">
            <button class="btn btn-primary btn-block">Update!</button>
        </form>    
    </div>
    
    <a href="/campgrounds/<%= campgroundID %>">Go Back</a>
</div>

<%- include("../partials/footer") %>