<%- include("../partials/header") %>

<div class="container text-center" style="width: 500px;">
    <h2 class="my-4">Add a new comment to <%= campground.name %></h2>
    
    <div class="form-group my-3">
        <form action="/campgrounds/<%= campground._id %>/comments" method="post">
            <input type="text" name="comment[text]" placeholder="Add Comment" class="d-block w-100 form-control my-3">
            <input type="text" name="comment[author]" placeholder="Author" class="d-block w-100 form-control my-3">
            <button class="btn btn-primary btn-block">Submit!</button>
        </form>    
    </div>
    
    <a href="/campgrounds/<%= campground._id %>">Go Back to <%= campground.name %></a>
</div>

<%- include("../partials/footer") %>