<%- include("partials/header") %>

<h1><%= campground.name %> </h1>

<img src="<%= campground.image %>" alt="image">

<p> <%= campground.description %> </p>
<br>
<h3>Comments:</h3>
<p>
    <% campground.comments.forEach(function(comment){ %>
        <p><strong><%= comment.author %></strong> - <%= comment.text %></p>    
    <% }); %>
</p>

<%- include("partials/footer") %>