<%- include("../partials/header") %>

<div class="container text-center" style="width: 500px;">
    <h2 class="my-4">Edit <%= campground.name %></h2>
    
    <div class="form-group my-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
            <input type="text" name="campground[name]" value="<%= campground.name %>" class="d-block w-100 form-control my-3">
            <input type="text" name="campground[image]" value="<%= campground.image %>" class="d-block w-100 form-control my-3">
            <input type="text" name="campground[description]" value="<%= campground.description %>" class="d-block w-100 form-control my-3">
            <button class="btn btn-primary btn-block">Update!</button>
        </form>    
    </div>
    
    <a href="/campgrounds/<%= campground._id %>">Go Back</a>
</div>

<%- include("../partials/footer") %>