<%- include("../partials/header") %>

<h1><%= campground.name %> </h1>

<img src="<%= campground.image %>" alt="image">

<p> <%= campground.description %> </p>
<br>
<h3><i class="fas fa-comments"></i> Comments:</h3>
<a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success"><i class="far fa-comment"></i> Add New</a>
<p>
    <% campground.comments.forEach(function(comment){ %>
        <p><strong><%= comment.author %></strong> - <%= comment.text %></p>    
    <% }); %>
</p>

<%- include("../partials/footer") %>